.dashboard-wrapper{
    width: 100%;
    position: relative;
    display: flex;
    min-height: 100vh;
}

.page-content{
    width: calc(100% - 230px);
    position: relative;
    margin-left: 230px;
    min-height: 100vh;
}

.content-centered{
    position: relative;
    width: 90%;
    margin: auto;
    min-height: 100vh;    
    margin-top: 20px;
}
.page-title{
    line-height: 25px;
    text-transform: capitalize;
}

.dashboard-metrics{
    position: relative;
}

.dashboard-metrics .card{
    position: relative;
    transition: all .30s ease-out;
}

.dashboard-metrics .card:hover{
    background-color: $primaryColor;
    cursor: pointer;
}

.dashboard-metrics .card:hover *{
    color: #fff;
}

.dashboard-metrics .active{
    background-color: $primaryColor;
}

.dashboard-metrics .active *{
    color: #fff;
}
.activities-con{
    width: 100%;
    position: relative;
}


.tableHead {
    background-color: $primaryColor;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    text-align: center;
   
}

.tableHead th{   
    font-weight: bold;   
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;  
    padding: 10px;
    background-color:$primaryColor;
    font-family: "Montserrat", sans-serif;
}

.tableHead tr{
    text-align: center;
}

.trow th{
    background-color: $primaryColor;
    color: #fff;
    text-align: center;
}

.trow{
    border-top: 1px solid $primaryColor;
    border-bottom: 1px solid $primaryColor;
    cursor: pointer;
    text-align: center;
}

.quiz-container{
    width: 100%;
    position: relative;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.quiz-wrap{
    width: 250px;
    position: relative;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

.quiz-wrap .title{
    font-size: 20px;
    font-weight: bold;
    color: $primaryColor;
}

.quiz-wrap .description{
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    line-height: 20px;
    font-size: 16px;
}

.quiz-wrap .bottom{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-question-wrapper{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quiz-question{
    min-width: 350px;
    position: relative;
    padding: 10px;
    // border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

.quiz-question .title{
    font-size: 20px;
    font-weight: bold;
    color: $primaryColor;
}