.navbar{
    width: 100%;   
    background-color: $primaryColor;
    position: relative;
}

.navbar .inner{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

.navbar .inner .authBtn .button{
    background-color: #fff;
    color: $primaryColor;
    text-decoration: none;
}