.nav-bar{
    width: 100%;
    position: relative;
    background-color: #EDD9B8;
}

.nav-bar .nav-inner{
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid $blackColor;
}

.logo-text{
    letter-spacing: 1px;
}

.logo-text .q{
    color: $primaryColor;
}

.logo-text .z{
    color: #fff;
}
.nav-bar .nav-inner .button-primary{
    background-color: $primaryColor;
    opacity: 1;
    color: #fff;
}

.nav-bar .nav-inner .button-success{
    background-color: $greenColor;
    opacity: 1;
    color: #fff;
}

.nav-bar .nav-inner .button-success:hover{
    background-color: $greenColor;
    opacity: 1;
    color: #fff;
}

.nav-bar .nav-inner .button-primary:hover{
    background-color: $primaryColor;
    opacity: 1;
    color: #fff;
}