@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto:wght@900&display=swap");
.color-primary {
  color: #2955BB;
}

.color-green {
  color: rgb(6, 112, 6);
}

.color-grey {
  color: rgba(170, 168, 168, 0.579);
}

.color-red {
  color: #DB2D2E;
}

.color-white {
  color: #fff;
}

.bg-grey {
  background-color: rgba(170, 168, 168, 0.579);
}

.bg-brandColor {
  background-color: #2955BB;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.f-width {
  width: 100%;
  position: relative;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.bold {
  font-weight: 700;
}

.mt-30 {
  margin-top: 30px;
}

.pointer {
  cursor: pointer;
}

.mr-10 {
  margin-right: 10px;
}

.padding-10 {
  padding: 10px;
}

.no-decoration {
  text-decoration: none;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: none;
}

.padding-20 {
  padding: 20px;
}

.scrollable {
  width: 100%;
  overflow: scroll;
  position: relative;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.95em;
  color: #191919;
}

.small-p {
  font-size: 16px;
}

.page-description {
  font-size: 18px;
  margin-top: -10px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  color: #191919;
}

.form-ctr {
  width: 100%;
  padding: 10px 15px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  color: #191919;
}

.form-ctr:focus {
  border-color: #2955BB;
  box-shadow: 0 0 5px #2955BB;
  outline: none;
  opacity: 1;
}

.form-input::-moz-placeholder {
  color: rgba(170, 168, 168, 0.579);
  opacity: 1;
}

.form-input::placeholder {
  color: rgba(170, 168, 168, 0.579);
  opacity: 1;
}

.button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s, box-shadow 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
}

.button-sm {
  padding: 5px 10px;
}

.button span {
  font-size: 18px;
}

.button-primary {
  background-color: #2955BB;
  color: #fff;
  opacity: 0.8;
}

.button-dark {
  background-color: #15181F;
  color: white;
  opacity: 0.8;
}

.button-success {
  background-color: rgb(6, 112, 6);
  color: white;
  opacity: 0.8;
}

.button-danger {
  background-color: #DB2D2E;
  color: #fff;
  opacity: 0.8;
}

.semi-pill {
  border-radius: 5px;
}

.button-primary:hover {
  background-color: #2955BB;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.button-success:hover {
  background-color: rgb(6, 112, 6);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.button-danger:hover {
  background-color: #DB2D2E;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.button-dark:hover {
  background-color: #15181F;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.button:active {
  background-color: rgba(170, 168, 168, 0.579);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.click-effect:active {
  transform: translateY(2px);
}

.radius-5 {
  border-radius: 5px;
}

.auth-page {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.auth-con {
  width: 400px;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
}

.auth-title-con {
  border: 1px solid rgb(171, 171, 171);
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #2955BB;
  width: 100%;
  height: 70px;
  position: relative;
}

.auth-title-con h1 {
  font-size: 20px;
  font-weight: 900;
  color: #fff;
}

.auth-title-con p {
  font-size: 18px;
  font-weight: 100;
  margin-top: -10px;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}

.auth-body-con {
  border: 2px solid rgb(236, 236, 236);
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: rgba(223, 223, 224, 0.292) 0px 7px 29px 0px;
}

.auth-bottom {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.navbar {
  width: 100%;
  position: relative;
  height: 70px;
  background-color: #2955BB;
}

.sidebar {
  width: 230px;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgb(226, 226, 226);
  z-index: 2;
}

.sidelogo {
  width: 100%;
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.sidebar-links {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.sidebar-links .active {
  background-color: #2955BB;
}

.sidebar-links .active a {
  color: #fff;
}

.s-link-wrap {
  width: 100%;
  position: relative;
  padding: 5px 20px;
  margin-bottom: 10px;
}

.s-link-wrap a {
  font-size: 17px;
  text-decoration: none;
  color: #191919;
}

.s-link-wrap a .icon {
  margin-right: 10px;
}

.s-link-wrap a .text {
  font-weight: 500;
}

.s-link-wrap:hover {
  background-color: #2955BB;
}

.s-link-wrap:hover a {
  color: #fff;
}

.dashboard-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  min-height: 100vh;
}

.page-content {
  width: calc(100% - 230px);
  position: relative;
  margin-left: 230px;
  min-height: 100vh;
}

.content-centered {
  position: relative;
  width: 90%;
  margin: auto;
  min-height: 100vh;
  margin-top: 20px;
}

.page-title {
  line-height: 25px;
  text-transform: capitalize;
}

.dashboard-metrics {
  position: relative;
}

.dashboard-metrics .card {
  position: relative;
  transition: all 0.3s ease-out;
}

.dashboard-metrics .card:hover {
  background-color: #2955BB;
  cursor: pointer;
}

.dashboard-metrics .card:hover * {
  color: #fff;
}

.dashboard-metrics .active {
  background-color: #2955BB;
}

.dashboard-metrics .active * {
  color: #fff;
}

.activities-con {
  width: 100%;
  position: relative;
}

.tableHead {
  background-color: #2955BB;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.tableHead th {
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  padding: 10px;
  background-color: #2955BB;
  font-family: "Montserrat", sans-serif;
}

.tableHead tr {
  text-align: center;
}

.trow th {
  background-color: #2955BB;
  color: #fff;
  text-align: center;
}

.trow {
  border-top: 1px solid #2955BB;
  border-bottom: 1px solid #2955BB;
  cursor: pointer;
  text-align: center;
}

.quiz-container {
  width: 100%;
  position: relative;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.quiz-wrap {
  width: 250px;
  position: relative;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
}

.quiz-wrap .title {
  font-size: 20px;
  font-weight: bold;
  color: #2955BB;
}

.quiz-wrap .description {
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  line-height: 20px;
  font-size: 16px;
}

.quiz-wrap .bottom {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-question-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quiz-question {
  min-width: 350px;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.quiz-question .title {
  font-size: 20px;
  font-weight: bold;
  color: #2955BB;
}/*# sourceMappingURL=main.css.map */